* {
  box-sizing: border-box;
}
.top-wrapper {
  padding-bottom: 220px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #dcdde1;
  text-align: center;
}
.heading {
  padding-top: 20px;
  padding-bottom: 25px;
  color: #000;
}
.heading h2 {
  font-weight: bold;
}
.anggota {
  float: left;
  width: 25%;
}
.anggota-icon {
  position: relative;
}
.anggota-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}
.ketua p{
  margin-bottom: 50px;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 15px auto;
}

.lingkaran1 img{
  width: 150px;
  height: 150px;
  background: #e84118;
  border-radius: 80%;
  padding: 5px 5px;
  display: block;
  margin:auto;
}

.footer {
	text-align: center;
	color: black;
	height: 120px;
	padding: 40px;
}

.footer-logo {
	font-size: 32px;
	margin-top: 30px;
	margin-bottom: 5px;
	font-weight: bold;
}

.footer-list {
  max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.footer-list ul{
  list-style: none;
      margin: 0;

}

.footer-list ul li{
  display: inline-block;
      margin: 6px 0;
      margin-left: 40px;
      margin-right : 40px;
}

span {
	color: blue;
}

.footer-copyright p{
	font-size: 10px;
	color: white;
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 1280px;
	height: 30px;
	background-color: blue;
}
